<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Categories</title>
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
  <%- include('partial/navbar') %>
  <main class="categories-page">
    <h1>Coffee Types</h1>
    <ul>
      <% data.forEach(c=>{ %>
        <li><a href="/categories/<%=c.id%>"><%=c.name%></a></li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
